@keyframes slideAnimation {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

.slide {
  animation: slideAnimation 1s infinite;
  animation-timing-function: linear;
}
